[submodule "_vim/bundle/Vundle.vim"]
	path = _vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "_zprezto"]
	path = _zprezto
	url = https://github.com/sorin-ionescu/prezto.git
